$white: #fff !default;
$gray: #949db2 !default;
$blue: #1e4db7 !default;
$yellow: #fec90f !default;
$info: #1a9bfc !default;
$green: #39cb7f !default;
$pink: #fc4b6c !default;

$text-muted: #777e89 !default;


$dm-sans: 'DM Sans',
sans-serif;