.body-wrapper {
    padding-top: 96px;
    margin-left: 265px;
    font-family: $dm-sans;
    transition: all 0.6s;

    @include media-breakpoint-down(md) {
        margin-left: 0;
    }

    .container-fluid {
        padding: 20px 30px;

        .main-heading {
            margin: 0 0 50px 0;

            .part1 {
                .heading-text {
                    .small-text {
                        margin: 0;
                        color: #777e89;
                        font-size: 18px;
                        font-weight: 400;
                    }

                    .head-txt {
                        color: #11142d;
                        margin: 0;
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
            }


            .part2 {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .date {
                    .option-box {
                        .select-box {
                            color: #777e89;
                            background-color: #f1f9ff;
                            padding: 6px 40px 6px 12px;
                            border: none;

                            .option-text {
                                color: #777e89;
                            }
                        }
                    }

                    .button {
                        .btn {
                            background-color: $info;
                            border: none;
                            padding: 4px 12px;

                            .plus-icon {
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                }
            }
        }




        .overview-part {
            .box1 {
                height: 428px;

                .row-part1 {
                    .column1 {
                        .shape {
                            background-color: #e6f4ff;
                            height: 217px;
                            border-radius: 20px;
                            background-image: url("../../assets/images/hero/1.png");
                            background-repeat: no-repeat;
                            display: flex;
                            align-items: center;

                            .text {
                                margin: 0 40px;

                                .txt {
                                    color: #1e4db7;
                                    font-size: 21px;
                                    font-weight: 500;
                                    line-height: 25px;
                                }

                                .button {
                                    .btn {
                                        background-color: $info;

                                        .button-link {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .row-part2 {
                    .column1 {
                        margin: 24px 0 0 0;

                        .shape {
                            background-color: $blue;
                            height: 187px;
                            border-radius: 20px;

                            .text {
                                .icon-text {
                                    padding: 22px 36px 22px 36px;
                                    // padding: 28px 36px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    color: #fff;
                                    font-size: 18px;
                                    font-weight: bold;

                                    span {
                                        padding: 12px;
                                        background-color: $info;
                                        border-radius: 50%;
                                    }
                                }

                                .price-text {
                                    padding: 0 36px;
                                    color: #fff;
                                    font-size: 30px;
                                    font-weight: 500;
                                    line-height: 25px;

                                    span {
                                        color: #9fb8ef;
                                        font-size: 16px;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }

                    .column2 {
                        margin: 24px 0 0 0;

                        .shape {
                            // background-color: #fff;
                            height: 187px;
                            border: 1px solid #ecf0f2;
                            border-radius: 20px;
                            background-image: url("../../assets/images/hero/2.png");

                            .text {
                                p {
                                    color: #777e89;
                                    padding: 27px 26px 27px 34px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    line-height: 25px;

                                    .image {
                                        color: #fff;
                                        padding: 12px;
                                        background-color: $yellow;
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
            }



            .box2 {
                .shape {
                    overflow: hidden;
                    height: 428px;
                    border: 1px solid #ecf0f2;
                    border-radius: 20px;
                    padding: 30px 20px;

                    .text {
                        display: flex;
                        align-items: center;

                        .left-text {
                            h4 {
                                color: #11142d;
                                font-size: 21px;
                                font-weight: 500;
                            }

                            p {
                                color: #99abb4;
                                font-size: 13px;
                                font-weight: 400;
                                margin: 0;
                            }
                        }



                        .right-text {
                            .txt1 {
                                margin: 0 20px;
                                color: #1e88e5;
                                position: relative;
                                font-size: 14px;
                                font-weight: 500;

                                &::before {
                                    position: absolute;
                                    top: 3px;
                                    left: -15px;
                                    content: "";
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: $blue;
                                }
                            }


                            .txt2 {
                                margin: 0 0px 0 20px;
                                color: #a7e3f4;
                                position: relative;
                                font-size: 14px;
                                font-weight: 500;

                                &::before {
                                    position: absolute;
                                    top: 3px;
                                    left: -15px;
                                    content: "";
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: #a7e3f4;
                                }
                            }
                        }
                    }




                    .chart {
                        width: 100%;
                        height: 100%;
                        // background-color: red;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }





        .sales-row {
            margin: 30px 0 0 0;
            height: 514px;

            .part1 {
                padding-left: 0;

                .card {
                    padding: 34px 25px;
                    height: 514px;
                    border-radius: 20px;
                    border: 1px solid #ecf0f2;

                    .heading-text {
                        border-bottom: 1px solid #ecf0f2;
                        padding-bottom: 5px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .main-txt {
                            color: #11142d;
                            font-size: 21px;
                            font-weight: 500;
                        }

                        .mini-txt {
                            color: #99abb4;
                            font-size: 13px;
                            font-weight: 400;
                        }

                        .year {
                            .select-box {
                                color: #777e89;
                                background-color: #f1f9ff;
                                padding: 6px 32px 6px 10px;
                                font-size: 14px;
                                font-weight: 400;
                                border: none;
                            }
                        }
                    }



                    .figure {
                        margin: 30px 0 0 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .text {
                            .name {
                                color: #777e89;
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }

                        .number {
                            .num {
                                color: #11142d;
                                font-size: 24px;
                                font-weight: bold;
                            }
                        }
                    }



                    .chart {
                        margin: 10px 0 0 0;
                        width: 100%;
                        height: 75%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }



                    .yearly {
                        .text {
                            margin: 35px 0 0 0;

                            .year1 {
                                color: #777e89;
                                font-size: 16px;
                                font-weight: 400;
                                position: relative;

                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 10px;
                                    height: 10px;
                                    background-color: $info;
                                    top: 2px;
                                    left: -17px;
                                    border-radius: 50%;
                                }
                            }


                            .year2 {
                                color: #777e89;
                                font-size: 16px;
                                font-weight: 400;
                                position: relative;

                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 10px;
                                    height: 10px;
                                    background-color: $blue;
                                    top: 2px;
                                    left: -17px;
                                    border-radius: 50%;
                                }
                            }


                            .year3 {
                                color: #777e89;
                                font-size: 16px;
                                font-weight: 400;
                                position: relative;

                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 10px;
                                    height: 10px;
                                    background-color: $yellow;
                                    top: 2px;
                                    left: -17px;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }




            .part2 {
                padding-right: 0;

                .card {
                    padding: 34px 28px;
                    height: 514px;
                    border-radius: 20px;
                    border: 1px solid #ecf0f2;

                    .heading-text {
                        // border-bottom: 1px solid #ecf0f2;
                        // padding-bottom: 5px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .main-txt {
                            color: #11142d;
                            font-size: 21px;
                            font-weight: 500;
                        }

                        .mini-txt {
                            color: #99abb4;
                            font-size: 13px;
                            font-weight: 400;
                        }

                        .year {
                            .select-box {
                                color: #777e89;
                                background-color: #f1f9ff;
                                padding: 6px 32px 6px 10px;
                                font-size: 14px;
                                font-weight: 400;
                                border: none;
                            }
                        }
                    }



                    .table-box {
                        .table {
                            vertical-align: middle;

                            thead {
                                tr {

                                    th {
                                        padding-bottom: 10px;
                                        color: #99abb4;
                                        border-bottom: 1px solid #ecf0f2;
                                    }
                                }
                            }


                            tbody {
                                tr {
                                    td {
                                        .main-name {
                                            color: #11142d;
                                            font-size: 14px;
                                            font-weight: bold;
                                        }

                                        .work {
                                            color: #99abb4;
                                            font-size: 13px;
                                            font-weight: 400;
                                        }
                                    }

                                    .work-name {
                                        color: #777e89;
                                        font-size: 14px;
                                        font-weight: 400;
                                    }

                                    .badge {
                                        font-size: 12px;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }










        .activity-row {
            margin: 30px 0 0 0;

            .part1 {
                padding-left: 0;

                .card1 {
                    overflow: hidden;
                    height: 495px;
                    border: 1px solid #ecf0f2;
                    border-radius: 20px;

                    .image {
                        width: 100%;
                        height: 205px;
                        background-color: #e6f6ff;
                        display: flex;
                        justify-content: center;
                    }


                    .cart-text {
                        padding: 30px 30px 0 30px;

                        .text {
                            padding-bottom: 25px;
                            border-bottom: 1px solid #ecf0f2;

                            .time {
                                color: #99abb4;
                                vertical-align: middle;

                                .clock-icon {
                                    color: #99abb4;
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 5px;
                                }
                            }

                            .head-txt {
                                font-size: 21px;
                                font-weight: 500;
                            }

                            .blue-badge {
                                background-color: $blue !important;
                                font-size: 12px;
                                font-weight: 400;
                            }

                            .red-badge {
                                background-color: #fc4b6c !important;
                                font-size: 12px;
                                font-weight: 400;
                            }
                        }
                    }


                    .profile {
                        padding: 25px 30px;

                        .profile-icon {
                            .plus {
                                .plus-icon {
                                    color: #39cb7f;
                                    background-color: #ebfaf2;
                                    width: 40px;
                                    height: 40px;
                                    padding: 8px;
                                    border-radius: 50%;
                                }
                            }
                        }

                        .chat-icon {
                            color: #99abb4;
                            width: 40px;
                            height: 40px;
                            padding: 8px;
                        }
                    }
                }
            }



            .part2 {
                .card2 {
                    padding: 36px 30px;
                    border-radius: 20px;
                    height: 495px;
                    border: 1px solid #ecf0f2;
                    background-image: url("../../assets/images/hero/6.png");

                    .heading-text {
                        display: flex;
                        align-items: center;

                        .main-txt {
                            color: #11142d;
                            font-size: 21px;
                            font-weight: 500;
                        }

                        .mini-txt {
                            color: #99abb4;
                            font-size: 13px;
                            font-weight: 400;
                        }

                        .dropdown {
                            .btn {
                                color: #d3dde2;

                                &:hover {
                                    color: $info;
                                }
                            }
                        }
                    }


                    .sales-list {

                        .icon-bg-blue {
                            height: 50px;
                            width: 50px;
                            border-radius: 50%;
                            background-color: $blue;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .icon {
                                color: #fff;
                                width: 20px;
                                height: 20px;
                            }
                        }

                        .main-name {
                            color: #11142d;
                            font-size: 16px;
                            font-weight: bold;
                        }

                        .mini-txt {
                            color: #99abb4;
                            font-size: 13px;
                            font-weight: 400;
                        }






                        .icon-bg-yellow {
                            height: 50px;
                            width: 50px;
                            border-radius: 50%;
                            background-color: $yellow;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .icon {
                                color: #fff;
                                width: 20px;
                                height: 20px;
                            }
                        }

                        .main-name {
                            color: #11142d;
                            font-size: 16px;
                            font-weight: bold;
                        }

                        .mini-txt {
                            color: #99abb4;
                            font-size: 13px;
                            font-weight: 400;
                        }





                        .icon-bg-green {
                            height: 50px;
                            width: 50px;
                            border-radius: 50%;
                            background-color: $green;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .icon {
                                color: #fff;
                                width: 20px;
                                height: 20px;
                            }
                        }

                        .main-name {
                            color: #11142d;
                            font-size: 16px;
                            font-weight: bold;
                        }

                        .mini-txt {
                            color: #99abb4;
                            font-size: 13px;
                            font-weight: 400;
                        }
                    }
                }
            }




            .part3 {
                padding-right: 0;

                .card3 {
                    padding: 36px 30px;
                    border-radius: 20px;
                    height: 495px;
                    background-color: white;
                    // background-color: red;

                    .heading-text {
                        display: flex;
                        align-items: center;

                        .main-txt {
                            color: #11142d;
                            font-size: 21px;
                            font-weight: 500;
                        }

                        .mini-txt {
                            color: #99abb4;
                            font-size: 13px;
                            font-weight: 400;
                        }

                        .dropdown {
                            .btn {
                                color: #d3dde2;

                                &:hover {
                                    color: $info;
                                }
                            }
                        }
                    }



                    .activity-box {
                        .time {
                            color: #11142d;
                            font-size: 12px;
                            font-weight: bold;
                        }

                        .activity-work {
                            position: relative;
                            margin-left: 15px;
                            padding-left: 20px;
                            border-left: 3px solid #ecf0f2;

                            .ring-blue {
                                position: absolute;
                                content: "";
                                width: 13px;
                                height: 13px;
                                background-color: white;
                                border-radius: 50%;
                                border: 3px solid $blue;
                                top: 0;
                                left: -8px;
                            }

                            .ring-info {
                                position: absolute;
                                content: "";
                                width: 13px;
                                height: 13px;
                                background-color: white;
                                border-radius: 50%;
                                border: 3px solid $info;
                                top: 0;
                                left: -8px;
                            }

                            .ring-yellow {
                                position: absolute;
                                content: "";
                                width: 13px;
                                height: 13px;
                                background-color: white;
                                border-radius: 50%;
                                border: 3px solid $yellow;
                                top: 0;
                                left: -8px;
                            }

                            .ring-pink {
                                position: absolute;
                                content: "";
                                width: 13px;
                                height: 13px;
                                background-color: white;
                                border-radius: 50%;
                                border: 3px solid $pink;
                                top: 0;
                                left: -8px;
                            }

                            .ring-green {
                                position: absolute;
                                content: "";
                                width: 13px;
                                height: 13px;
                                background-color: white;
                                border-radius: 50%;
                                border: 3px solid $green;
                                top: 0;
                                left: -8px;
                            }

                            .active {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}







@media (max-width: 1199px) {
    .sales-row {
        height: 1090px !important;

        .part1,
        .part2 {
            padding: 0 !important;
        }

        .table-box {
            overflow: auto;
        }
    }

    .activity-row {
        margin: 0 !important;

        .part2 {
            padding-right: 0;
        }

        .part3 {
            padding: 0;
            margin-top: 30px;

            .card3 {
                height: 400px !important;
            }
        }
    }
}



@media (max-width: 991px) {
    .body-wrapper .part1 {
        text-align: center;

    }

    .body-wrapper .part2 {
        .box {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    .sales-row {
        .part2 {
            .card {
                height: 535px !important;
            }
        }
    }

    .sales-row .part2 .table-box tbody tr td {
        padding: 0.5rem 0.2rem;
    }

    .activity-row {
        .part1 {
            padding: 0 !important;
        }

        .part2 {
            margin-top: 30px;
            padding: 0;
        }


        .card1 {
            .text {
                .tag {
                    justify-content: center;
                }
            }
        }
    }
}



@media (max-width: 767px) {
    .body-wrapper .overview-part .box1 {
        height: 645px !important;
    }

    .activity-row {
        .part3 {
            .card3 {
                height: 390px !important;
            }
        }
    }
}



@media (max-width: 575px) {
    .container-fluid {
        padding: 20px 15px !important;
    }
}




@media (max-width: 485px) {
    .activity-row {
        .card3 {
            height: 440px !important;
        }
    }
}



@media (max-width: 484px) {
    .activity-row {
        .part3 {
            .card3 {
                height: 400px !important;
            }
        }
    }
}



@media (max-width: 454px) {
    .activity-row {
        .part3 {
            .card3 {
                height: 430px !important;
            }
        }
    }
}



@media (max-width: 452px) {
    .topbar {
        .navbar {
            .navbar-header {
                img {
                    display: none;
                }
            }
        }
    }

    .overview-part {
        .box2 {
            .right-text {
                display: block !important;

                .txt1 {
                    margin-bottom: 3px !important;
                }

                .txt2 {
                    margin-top: 3px !important;
                }
            }
        }
    }
}




@media (max-width: 376px) {
    .activity-row {
        .part3 {
            .card3 {
                height: 440px !important;
            }
        }
    }
}




@media (max-width: 365px) {
    .activity-row {
        .part3 {
            .card3 {
                height: 460px !important;
            }
        }
    }
}




@media (max-width: 346px) {
    .activity-row {
        .part3 {
            .card3 {
                height: 490px !important;
            }
        }
    }
}




@media (max-width: 344px) {
    .activity-row {
        .part3 {
            .card3 {
                height: 490px !important;
            }
        }
    }
}



@media (max-width: 340px) {
    .main-heading {
        .box {
            .button {
                .plus-icon {
                    display: none !important;
                }
            }
        }
    }

    .activity-row {
        .part3 {
            .card3 {
                height: 490px !important;
            }
        }
    }
}



@media (max-width: 335px) {
    .activity-row {
        .part1 {
            .card1 {
                height: 525px !important;
            }
        }
    }
}



@media (max-width: 320px) {
    .activity-row {
        .part3 {
            .card3 {
                height: 500px !important;
            }
        }
    }
}