.body-wrapper {
    padding-top: 96px;
    margin-left: 265px;
    font-family: $dm-sans;
    transition: all 0.6s;

    @include media-breakpoint-down(md) {
        margin-left: 0;
    }

    .container-fluid {
        padding: 20px 30px;

    }
}





.page-breadcrumb {
    .plus-icon {
        margin-right: 8px;
    }
}




.downloard {
    .downloard-card {
        background-color: $img-background;
        background-image: url("../../assets/images/hero/1.png");
        background-repeat: no-repeat;
        background-position: right;
    }

    .downloard-text {
        font-weight: $font-weight-medium;
    }

    .revenue {
        color: $perono;
    }

    .sales-card {
        background-image: url("../../assets/images/hero/2.png");
        background-repeat: repeat-x;
        background-position: bottom;
    }

    // .overview-card {
    //      height: 427px;
    // }

    .overview-cirle {
        width: 7px;
        height: 7px;
    }

    .circle-icon {
        color: $sail;
        background-color: $sail;
    }

    .admin-text {
        color: $sail;
    }
}





.products {
    .total-sales-card {
        margin-top: 30px;
        margin-right: 15px;
    }

    .circle-icon {
        width: 10px;
        height: 10px;
    }

    .Performance-card {
        margin-top: 30px;
        margin-left: 15px;
    }

    .table>:not(:last-child)>:last-child>* {
        border-bottom-color: inherit;
    }
}




.angular-row {
    .angular-img {
        background-color: #e6f6ff;
    }

    .stats-card {
        // height: 495px;
        background-image: url("../../assets/images/hero/6.png");
    }

    .btn {
        color: $harmonies;
    }

}

.daily-activity .work {
    border-left: 3px solid $border-color;
    position: relative;

    .circle {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        border: 3px solid;
        border-radius: 50%;
        top: 0;
        left: -8px;
        background-color: $white;
    }
}













// Media Query //


@media (max-width: 1199px) {
    .activity-card {
        height: 420px !important;
    }
}



@media (max-width: 991px) {}





@media (max-width: 575px) {
    .container-fluid {
        padding: 20px 15px !important;
    }
}




@media (max-width: 499px) {
}




@media (max-width: 468px) {
    .activity-card {
        height: 450px !important;
    }
}



@media (max-width: 439px) {
    .activity-card {
        height: 470px !important;
    }
}


@media (max-width: 365px) {
    .activity-row {
        .part3 {
            .card3 {
                height: 460px !important;
            }
        }
    }

    .navbar-header {
        width: 200px;
        padding: 0;
        display: flex !important;
        justify-content: center !important;

        a {
            margin: 0 !important;
        }
    }
}



@media (max-width: 350px) {
    .activity-card {
        height: 500px !important;
    }
}



@media (max-width: 331px) {
    .activity-card {
        height: 520px !important;
    }
}



@media (max-width: 331px) {
    .activity-card {
        height: 550px !important;
    }
}