.body-wrapper {
    padding-top: 96px;
    margin-left: 265px;
    font-family: $dm-sans;
    transition: all 0.6s;

    @include media-breakpoint-down(md) {
        margin-left: 0;
    }

    .container-fluid {
        padding: 20px 30px;

        .main-heading {
            margin: 0 0 50px 0;

            .part1 {
                .heading-text {
                    .small-text {
                        margin: 0;
                        color: #777e89;
                        font-size: 18px;
                        font-weight: 400;
                    }

                    .head-txt {
                        color: #11142d;
                        margin: 0;
                        font-size: 30px;
                        font-weight: bold;
                    }
                }
            }


            .part2 {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .date {
                    .option-box {
                        .select-box {
                            color: #777e89;
                            background-color: #f1f9ff;
                            padding: 6px 40px 6px 12px;
                            border: none;

                            .option-text {
                                color: #777e89;
                            }
                        }
                    }

                    .button {
                        .btn {
                            background-color: $info;
                            border: none;
                            padding: 4px 12px;

                            .plus-icon {
                                width: 18px;
                                height: 18px;
                            }
                        }
                    }
                }
            }
        }




        .overview-part {
            .box1 {
                height: 428px;

                .row-part1 {
                    .column1 {
                        .shape {
                            background-color: #e6f4ff;
                            height: 217px;
                            border-radius: 20px;
                            background-image: url("../../assets/images/hero/1.png");
                            background-repeat: no-repeat;
                            display: flex;
                            align-items: center;

                            .text {
                                margin: 0 40px;

                                .txt {
                                    color: #1e4db7;
                                    font-size: 21px;
                                    font-weight: 500;
                                    line-height: 25px;
                                }

                                .button {
                                    .btn {
                                        background-color: $info;

                                        .button-link {
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .row-part2 {
                    .column1 {
                        margin: 24px 0 0 0;

                        .shape {
                            background-color: $blue;
                            height: 187px;
                            border-radius: 20px;

                            .text {
                                .icon-text {
                                    padding: 22px 36px 22px 36px;
                                    // padding: 28px 36px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    color: #fff;
                                    font-size: 18px;
                                    font-weight: bold;

                                    span {
                                        padding: 12px;
                                        background-color: $info;
                                        border-radius: 50%;
                                    }
                                }

                                .price-text {
                                    padding: 0 36px;
                                    color: #fff;
                                    font-size: 30px;
                                    font-weight: 500;
                                    line-height: 25px;

                                    span {
                                        color: #9fb8ef;
                                        font-size: 16px;
                                        font-weight: 400;
                                    }
                                }
                            }
                        }
                    }

                    .column2 {
                        margin: 24px 0 0 0;

                        .shape {
                            // background-color: #fff;
                            height: 187px;
                            border: 1px solid #ecf0f2;
                            border-radius: 20px;
                            background-image: url("../../assets/images/hero/2.png");

                            .text {
                                p {
                                    color: #777e89;
                                    padding: 27px 26px 27px 34px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    line-height: 25px;

                                    .image {
                                        color: #fff;
                                        padding: 12px;
                                        background-color: $yellow;
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
            }



            .box2 {
                .shape {
                    overflow: hidden;
                    height: 428px;
                    border: 1px solid #ecf0f2;
                    border-radius: 20px;
                    padding: 30px 20px;

                    .text {
                        display: flex;
                        align-items: center;

                        .left-text {
                            h4 {
                                color: #11142d;
                                font-size: 21px;
                                font-weight: 500;
                            }

                            p {
                                color: #99abb4;
                                font-size: 13px;
                                font-weight: 400;
                                margin: 0;
                            }
                        }



                        .right-text {
                            .txt1 {
                                margin: 0 20px;
                                color: #1e88e5;
                                position: relative;
                                font-size: 14px;
                                font-weight: 500;

                                &::before {
                                    position: absolute;
                                    top: 3px;
                                    left: -15px;
                                    content: "";
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: $blue;
                                }
                            }


                            .txt2 {
                                margin: 0 0px 0 20px;
                                color: #a7e3f4;
                                position: relative;
                                font-size: 14px;
                                font-weight: 500;

                                &::before {
                                    position: absolute;
                                    top: 3px;
                                    left: -15px;
                                    content: "";
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: #a7e3f4;
                                }
                            }
                        }
                    }




                    .chart {
                        width: 100%;
                        height: 100%;
                        // background-color: red;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }





        .sales-row {
            margin: 30px 0 0 0;
            height: 514px;

            .part1 {
                .card {
                    padding: 34px 25px;
                    height: 514px;
                    border-radius: 20px;
                    border: 1px solid #ecf0f2;

                    .heading-text {
                        border-bottom: 1px solid #ecf0f2;
                        padding-bottom: 5px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .main-txt {
                            color: #11142d;
                            font-size: 21px;
                            font-weight: 500;
                        }

                        .mini-txt {
                            color: #99abb4;
                            font-size: 13px;
                            font-weight: 400;
                        }

                        .year {
                            .select-box {
                                color: #777e89;
                                background-color: #f1f9ff;
                                padding: 6px 32px 6px 10px;
                                font-size: 14px;
                                font-weight: 400;
                                border: none;
                            }
                        }
                    }



                    .figure {
                        margin: 30px 0 0 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .text {
                            .name {
                                color: #777e89;
                                font-size: 16px;
                                font-weight: 400;
                            }
                        }

                        .number {
                            .num {
                                color: #11142d;
                                font-size: 24px;
                                font-weight: bold;
                            }
                        }
                    }



                    .chart {
                        margin: 10px 0 0 0;
                        width: 100%;
                        height: 75%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }



                    .yearly {
                        .text {
                            margin: 35px 0 0 0;

                            .year1 {
                                color: #777e89;
                                font-size: 16px;
                                font-weight: 400;
                                position: relative;

                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 10px;
                                    height: 10px;
                                    background-color: $info;
                                    top: 2px;
                                    left: -17px;
                                    border-radius: 50%;
                                }
                            }


                            .year2 {
                                color: #777e89;
                                font-size: 16px;
                                font-weight: 400;
                                position: relative;

                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 10px;
                                    height: 10px;
                                    background-color: $blue;
                                    top: 2px;
                                    left: -17px;
                                    border-radius: 50%;
                                }
                            }


                            .year3 {
                                color: #777e89;
                                font-size: 16px;
                                font-weight: 400;
                                position: relative;

                                &::before {
                                    position: absolute;
                                    content: "";
                                    width: 10px;
                                    height: 10px;
                                    background-color: $yellow;
                                    top: 2px;
                                    left: -17px;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 991px) {
    .body-wrapper .part1 {
        text-align: center;

    }

    .body-wrapper .part2 {
        .box {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}



@media (max-width: 767px) {
    .body-wrapper .overview-part .box1 {
        height: 645px;
    }
}