:focus {
    outline: none;
    box-shadow: 0 0 0 0rem !important;
}

a {
    text-decoration: none;
}

.card {
    border: $card-border;
}


.form-select {
    background-color: $aliceblue;
}

.time,
.subtitle,
.chat-icon,
.card-subtitle,
.table-head,
.subtitle-name {
    color: $mainly-blue;
}

.badge {
    font-size: 12px;
    font-weight: 400;
}

.badge-background {
    background-color: $athens-gray;
}

.table-title {
    margin-bottom: 6px;
}

.page-breadcrumb {
    margin-bottom: 54px;
}