:focus {
    outline: none;
    box-shadow: 0 0 0 0rem !important;
}

a {
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #949db2, 100%, #f1f9ff 50%);
    border-radius: 50px;
}
