:focus {
    outline: none;
    box-shadow: 0 0 0 0rem !important;
}

a {
    text-decoration: none;
}

.card {
    margin-bottom: 30px;
    border: $card-border;
}

.card-body {
    padding: 35px 30px !important;
}


.form-select {
    background-color: $aliceblue;
}

.text-mainly {
    color: $mainly-blue;
}

.badge {
    font-size: 12px;
    font-weight: 400;
}

.badge-background {
    background-color: $athens-gray;
}

.table-title {
    margin-bottom: 6px !important;
}

.page-breadcrumb {
    margin-bottom: 54px;
}

.downloard-cardbody {
    padding: 43px 42px 60px 42px !important;
}

.caption-overview {
    margin-bottom: 47px;
}

.heading-cardbody {
    margin-bottom: 28px;
}

.cardbody-value {
    margin-bottom: 40px !important;
}

.total-sales-year {
    margin-top: 43px;
}

.time {
    margin-bottom: 30px;
}

.angular-text {
    margin-bottom: 22px;
}

.angular-badges {
    margin-bottom: 36px;
}

.profile-image {
    margin-top: 17px;
}

.stats-items {
    margin-bottom: 36px;
}

.stats-circle {
    margin-right: 14px;
    padding: 12px;
}

.work {
    padding-bottom: 26px;
}

.work-apply {
    padding-bottom: 15px;
}

.activity-heading {
    margin-bottom: 50px;
}