.sidebar {
    background-color: #fff;
    position: fixed;
    width: 265px;
    height: 100%;
    overflow: auto;
    z-index: 9;
    border-right: 1px solid #ecf0f2;
    transition: all 0.6s;
    overflow-x: hidden;

    .navbar-header {
        height: 100px;
        border-right: 1px solid #ecf0f2;

        .navbar-brand {
            padding: 0;
            margin: 0;
            display: flex;

            .image {
                padding: 33px 60px 36px 35px;
            }
        }
    }

    .scrollbar {
        height: 100%;
        display: flex;
        flex-direction: column;

        .side-nav {
            .list-group {
                padding: 0px 0px 0 22px;

                .list-item {
                    padding: 0 30px;

                    .line {
                        position: absolute;
                        content: "";
                        height: 1px;
                        width: 23px;
                        background-color: #edf2f5;
                        top: 8px;
                        left: 12px;
                    }

                    .text {
                        color: #bcc3d3;
                        margin: 0 0 10px 0;
                        position: relative;
                        font-size: 13px;
                        font-weight: 500;
                    }
                }

                .sidelist-item {
                    padding: 10px 21px;
                    border-radius: 10px;
                    margin: 2px 15px 2px 0;

                    &:hover {
                        background-color: $athens-gray;

                        .sidelist-link {

                            .icon,
                            .icon-name {
                                color: $gray-700;
                            }
                        }
                    }

                    &.active {
                        background-color: $info;

                        .sidelist-link {

                            .icon,
                            .icon-name {
                                color: #fff;
                            }
                        }
                    }

                    .sidelist-link {
                        .icon {
                            color: #777e89;
                        }

                        .icon-name {
                            font-size: 15px;
                            font-weight: 500;
                            color: #777e89;
                            margin: 0 0 0 18px;
                        }
                    }
                }
            }





            .list-group2 {
                margin-top: 35px;
                padding: 0px 0px 0 22px;

                .list-item {
                    padding: 0 30px;

                    .line {
                        position: absolute;
                        content: "";
                        height: 1px;
                        width: 23px;
                        background-color: #edf2f5;
                        top: 8px;
                        left: 12px;
                    }

                    .text {
                        color: #bcc3d3;
                        margin: 0 0 10px 0;
                        position: relative;
                        font-size: 13px;
                        font-weight: 500;
                    }
                }

                .sidelist-item {
                    padding: 10px 21px;
                    border-radius: 10px;
                    margin: 2px 15px 2px 0;

                    &:hover {
                        background-color: $athens-gray;

                        .sidelist-link {

                            .icon,
                            .icon-name {
                                color: $gray-700;
                            }
                        }
                    }

                    &.active {
                        background-color: $info;

                        .sidelist-link {

                            .icon,
                            .icon-name {
                                color: #fff;
                            }
                        }
                    }

                    .sidelist-link {
                        .icon {
                            color: #777e89;
                        }

                        .icon-name {
                            font-size: 15px;
                            font-weight: 500;
                            color: #777e89;
                            margin: 0 0 0 18px;
                        }
                    }
                }
            }


            .image {
                margin: 28px 0 40px 0;
                display: flex;
                justify-content: center;


                .img-box {
                    position: relative;
                    width: 226px;
                    height: 173px;

                    .text {
                        color: #11142d;
                        position: absolute;
                        top: 60px;
                        left: 28px;
                        font-size: 18px;
                        font-weight: bold;

                        .btn {
                            // margin: 16px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}

.sidebar-minitext {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 17px !important;

    &::before {
        content: "";
        position: absolute;
        width: 23px;
        height: 1px;
        left: -30px;
        background-color: #edf1f5;
    }
}


@media (min-width: 991px) {
    .sidebar {
        left: 0px;

        &.show-sidebar {
            left: -265px;
        }
    }

    .sidebar.show-sidebar+.body-wrapper {
        margin-left: 0;
    }
}

@media (max-width: 991px) {
    .sidebar {
        left: -265px;

        &.show-sidebar {
            left: 0;
        }
    }

    .sidebar.show-sidebar+.body-wrapper,
    .body-wrapper {
        margin-left: 0 !important;
    }

    .sidebar.show-sidebar+.navbar-collapse,
    .navbar-collapse {
        margin-left: 0 !important;
        width: 100%;
    }

    .sidebar {
        height: calc(100% - 100px);
        top: 100px;
    }

}