.sidebar {
    background-color: cyan;
    position: fixed;
    top: 96px;
    width: 265px;
    height: calc(100vh - 96px);
    overflow: auto;
    z-index: 9;
    border-right: 1px solid red;

    .scrollbar {
        
    }
}